In [1]:
%load_ext autoreload
%autoreload 2

from aws_manager import RedshiftCluster
import start_etl

## SETUP

In [2]:
redshift_cluster = RedshiftCluster()

In [3]:
redshift_cluster.setup()

Creating a new IAM Role
An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name dwhRole already exists.
Attaching Policy
Cluster dwhCluster is online.
DWH_ENDPOINT ::  dwhcluster.c3cmyv28jcxe.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::859170016386:role/dwhRole
ec2.SecurityGroup(id='sg-39ab4948')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

## EXECUTE

In [2]:
start_etl.main()

Finished: tables dropped. Error status: False
Finished: tables created. Error status: False
Job done: Tables created.
Finished: tables loaded. Error status: False
Finished: tables inserted. Error status: False
Job done: ETL finished.

## INSPECT

### Setup connection

In [22]:
from config import config

DWH_DB_USER            = config.get("ETL","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("ETL","DWH_DB_PASSWORD")
DWH_ENDPOINT           = config.get("ETL","DWH_ENDPOINT")
DWH_PORT               = config.get("ETL","DWH_PORT")
DWH_DB                 = config.get("ETL","DWH_DB")

%load_ext sql
conn_string = "postgresql://{}:{}@{}:{}/{}".format(config['ETL']['DWH_DB_USER'], config['ETL']['DWH_DB_PASSWORD'], config['ETL']['DWH_ENDPOINT'], config['ETL']['DWH_PORT'], config['ETL']['DWH_DB'])
    
print(conn_string)
%sql $conn_string

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
postgresql://dwh_user:DWH_password2019@dwhcluster.c3cmyv28jcxe.us-west-2.redshift.amazonaws.com:5439/dwh_db

'Connected: dwh_user@dwh_db'

### Inspect staging table

In [23]:
%%time
%%sql
SELECT COUNT(*)
FROM staging_events;

 * postgresql://dwh_user:***@dwhcluster.c3cmyv28jcxe.us-west-2.redshift.amazonaws.com:5439/dwh_db
1 rows affected.
CPU times: user 3.54 ms, sys: 0 ns, total: 3.54 ms
Wall time: 578 ms

[(8056,)]

In [24]:
%%time
%%sql
SELECT COUNT(*)
FROM staging_songs;

 * postgresql://dwh_user:***@dwhcluster.c3cmyv28jcxe.us-west-2.redshift.amazonaws.com:5439/dwh_db
1 rows affected.
CPU times: user 3.52 ms, sys: 0 ns, total: 3.52 ms
Wall time: 390 ms

[(14896,)]

In [25]:
%%time
%%sql
SELECT COUNT(*)
FROM staging_events se, staging_songs so
WHERE se.song = so.title;

 * postgresql://dwh_user:***@dwhcluster.c3cmyv28jcxe.us-west-2.redshift.amazonaws.com:5439/dwh_db
1 rows affected.
CPU times: user 3.72 ms, sys: 0 ns, total: 3.72 ms
Wall time: 399 ms

[(1144,)]

In [26]:
%%time
%%sql
SELECT artist, COUNT(artist)
FROM staging_events
WHERE song != 'None' AND userId != 0
GROUP BY artist
ORDER BY COUNT(artist) DESC
LIMIT 10;

 * postgresql://dwh_user:***@dwhcluster.c3cmyv28jcxe.us-west-2.redshift.amazonaws.com:5439/dwh_db
10 rows affected.
CPU times: user 4.34 ms, sys: 0 ns, total: 4.34 ms
Wall time: 394 ms

[('Coldplay', 58),
 ('Kings Of Leon', 55),
 ('Dwight Yoakam', 38),
 ('The Black Keys', 36),
 ('Muse', 35),
 ('Jack Johnson', 35),
 ('Florence + The Machine', 35),
 ('BjÃ\x83Â¶rk', 33),
 ('The Killers', 31),
 ('John Mayer', 31)]

In [27]:
%%time
%%sql
SELECT DISTINCT userId, COUNT(*)
FROM staging_events
GROUP BY userId;

 * postgresql://dwh_user:***@dwhcluster.c3cmyv28jcxe.us-west-2.redshift.amazonaws.com:5439/dwh_db
98 rows affected.
CPU times: user 3.38 ms, sys: 0 ns, total: 3.38 ms
Wall time: 391 ms

[(52, 28),
 (99, 6),
 (43, 13),
 (6, 32),
 (25, 190),
 (None, 286),
 (51, 17),
 (26, 149),
 (44, 439),
 (16, 244),
 (69, 41),
 (80, 740),
 (32, 80),
 (10, 40),
 (37, 39),
 (28, 8),
 (77, 12),
 (78, 19),
 (74, 11),
 (100, 24),
 (55, 25),
 (33, 33),
 (61, 35),
 (73, 305),
 (97, 595),
 (63, 25),
 (8, 37),
 (9, 27),
 (89, 12),
 (49, 772),
 (50, 57),
 (101, 73),
 (14, 28),
 (86, 57),
 (66, 51),
 (15, 495),
 (23, 5),
 (29, 381),
 (84, 8),
 (2, 15),
 (98, 6),
 (83, 33),
 (48, 3),
 (17, 9),
 (88, 312),
 (75, 21),
 (12, 21),
 (71, 5),
 (53, 24),
 (62, 13),
 (95, 233),
 (94, 10),
 (57, 8),
 (42, 149),
 (81, 6),
 (34, 14),
 (30, 193),
 (60, 21),
 (91, 12),
 (24, 349),
 (92, 32),
 (35, 20),
 (27, 3),
 (45, 5),
 (20, 10),
 (11, 4),
 (85, 204),
 (72, 76),
 (58, 156),
 (36, 280),
 (7, 8),
 (39, 4),
 (64, 2),
 (47, 6),
 (54, 29),
 (3, 3),
 (96, 17),
 (67, 31),
 (13, 5),
 (18, 6),
 (4, 8),
 (41, 13),
 (59, 5),
 (19, 12),
 (68, 5),
 (76, 24),
 (40, 15),
 (90, 4),
 (79, 3),
 (70, 35),
 (87, 2),
 (65, 20),
 (21, 1),
 (38, 3),
 (5, 6),
 (82, 99),
 (22, 2),
 (56, 2)]

### Inspect final tables

Fact table: songplays

In [28]:
%%time
%%sql
SELECT COUNT(*)
FROM songplays;

 * postgresql://dwh_user:***@dwhcluster.c3cmyv28jcxe.us-west-2.redshift.amazonaws.com:5439/dwh_db
1 rows affected.
CPU times: user 3.28 ms, sys: 0 ns, total: 3.28 ms
Wall time: 396 ms

[(1144,)]

Dimension tables.

In [29]:
%%time
%%sql
SELECT COUNT(*)
FROM users;

 * postgresql://dwh_user:***@dwhcluster.c3cmyv28jcxe.us-west-2.redshift.amazonaws.com:5439/dwh_db
1 rows affected.
CPU times: user 1.99 ms, sys: 1.11 ms, total: 3.1 ms
Wall time: 388 ms

[(104,)]

In [30]:
%%time
%%sql
SELECT COUNT(*)
FROM songs;

 * postgresql://dwh_user:***@dwhcluster.c3cmyv28jcxe.us-west-2.redshift.amazonaws.com:5439/dwh_db
1 rows affected.
CPU times: user 3.22 ms, sys: 0 ns, total: 3.22 ms
Wall time: 390 ms

[(14896,)]

In [31]:
%%time
%%sql
SELECT COUNT(*)
FROM artists;

 * postgresql://dwh_user:***@dwhcluster.c3cmyv28jcxe.us-west-2.redshift.amazonaws.com:5439/dwh_db
1 rows affected.
CPU times: user 0 ns, sys: 3.06 ms, total: 3.06 ms
Wall time: 388 ms

[(10025,)]

In [32]:
%%time
%%sql
SELECT COUNT(*)
FROM time;

 * postgresql://dwh_user:***@dwhcluster.c3cmyv28jcxe.us-west-2.redshift.amazonaws.com:5439/dwh_db
1 rows affected.
CPU times: user 2.24 ms, sys: 1.24 ms, total: 3.48 ms
Wall time: 391 ms

[(6813,)]

## ANALYTICS

### Popular songs

In [33]:
%%time
%%sql
SELECT s.title, COUNT(sp.song_id)
FROM songplays sp, songs s
WHERE sp.song_id = s.song_id
GROUP BY s.title
ORDER BY COUNT(sp.song_id) DESC
LIMIT 10;

 * postgresql://dwh_user:***@dwhcluster.c3cmyv28jcxe.us-west-2.redshift.amazonaws.com:5439/dwh_db
10 rows affected.
CPU times: user 4.5 ms, sys: 270 µs, total: 4.77 ms
Wall time: 410 ms

[('Intro', 75),
 ('Home', 52),
 ("You're The One", 37),
 ('Smile', 20),
 ('Secrets', 17),
 ('Hold On', 15),
 ('Outro', 14),
 ('Magic', 12),
 ('Broken', 10),
 ('Thank You', 10)]

### Popular artists

In [34]:
%%time
%%sql
SELECT sp.artist_id as "artist name", count(sp.artist_id) as "count"
FROM songplays sp
GROUP BY sp.artist_id
ORDER BY "count" DESC
LIMIT 10;

 * postgresql://dwh_user:***@dwhcluster.c3cmyv28jcxe.us-west-2.redshift.amazonaws.com:5439/dwh_db
10 rows affected.
CPU times: user 4.29 ms, sys: 151 µs, total: 4.45 ms
Wall time: 381 ms

[('Edward Sharpe & The Magnetic Zeros', 44),
 ('Dwight Yoakam', 37),
 ('Calvin Richardson', 25),
 ('Samy Deluxe', 25),
 ('Percubaba', 25),
 ('OneRepublic', 22),
 ('Coldplay', 14),
 ('Lily Allen', 12),
 ('The Pussycat Dolls', 11),
 ('Dido', 10)]

### Most Popular songs with artist

In [35]:
%%time
%%sql
SELECT songs.title as "song title", artists.name as "artist name", COUNT(sp.id) as "listen count"
FROM songplays sp 
JOIN songs ON sp.song_id = songs.song_id 
JOIN artists ON songs.artist_id = artists.artist_id
GROUP BY songs.title, artists.name
ORDER BY COUNT(sp.id) DESC
LIMIT 10;

 * postgresql://dwh_user:***@dwhcluster.c3cmyv28jcxe.us-west-2.redshift.amazonaws.com:5439/dwh_db
10 rows affected.
CPU times: user 43 µs, sys: 4.03 ms, total: 4.08 ms
Wall time: 381 ms

[("You're The One", 'Dwight Yoakam', 37),
 ('Secrets', 'Carleen Anderson', 17),
 ('Home', 'Gemma Hayes', 13),
 ('Home', 'Eli Young Band', 13),
 ('Home', 'Working For A Nuclear Free City', 13),
 ('Home', 'Frozen Plasma', 13),
 ('Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 'Lonnie Gordon', 9),
 ("I CAN'T GET STARTED", 'Ron Carter', 9),
 ("Nothin' On You [feat. Bruno Mars] (Album Version)", 'B.o.B', 8),
 ('Float On', 'Rivera Rotation', 7)]

### Weekdays with songplays

In [36]:
%%sql
SELECT time.week_day, count(songplays.id) as count_songplays
FROM songplays JOIN time ON songplays.start_time = time.start_time
GROUP BY week_day
ORDER BY week_day;

 * postgresql://dwh_user:***@dwhcluster.c3cmyv28jcxe.us-west-2.redshift.amazonaws.com:5439/dwh_db
7 rows affected.

[(0, 58), (1, 207), (2, 191), (3, 250), (4, 160), (5, 188), (6, 90)]

## SHUTDOWN

In [14]:
redshift_cluster.shutdown()

In [15]:
import time
a = False

while not a:
    time.sleep(2)
    a, cluster_props = redshift_cluster.check_cluster_shutdown()
    print(cluster_props['ClusterStatus'])